.footer {
    margin: 0px auto 0px auto;
    max-width: 880px;
    padding-bottom: 60px;
}

@media screen and (max-width: 900px) {
    .footer {
        padding-left: 19px;
        padding-right: 19px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        width: 282px;
        padding-bottom: 36px;
    }
}